/Observador/dist/
/InterpreteJS/nbproject/private/
/InterpreteJS/build/
/InterpreteJS/dist/
/ObservadorJS/nbproject/private/
/ObservadorJS/dist/
/ObservadorJS/build/
/CreandoArchivosDeEntrada/nbproject/private/
/CreandoArchivosDeEntrada/build/
/CreandoArchivosDeEntrada/dist/